$white: #FDFDFA;
$gray: #868D97;
$yellow: #F0E6A5;
$peach: #E4C5A4;
$green: #99AF96;

$font-strict: 'Amatic SC', cursive;
$font-curly: 'Dancing Script', cursive;

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: $white;
  font-size: 26px;
  font-family: $font-strict;
  text-align: center;
  color: $gray;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

h1 { margin-bottom: 1em; }
p { margin: 0 0 1em 0; }

a {
  color: $green;
  @extend .color-animation;
}
.color-animation {
  transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;    /* FF3.7+ */
  -o-transition: color 0.5s linear;      /* Opera 10.5 */
  -webkit-transition: color 0.5s linear; /* Saf3.2+, Chrome */
}

a:hover   { color: $green; }
a:visited { color: $green; }

.curly {
  font-family: $font-curly;
}

.box {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}

header {
  margin: 70px 0 70px 0;

  a, a:visited, a:active {
    text-decoration: none;
    color: $gray;
  }

  h1 {
    margin: 0;
    font-size: 80px;
    line-height: 0.8em;
  }
  small {
    display: block;
    font-size: 50%;
  }
  .curly {
    @extend .color-animation;
    display: block;
    color: $yellow;
  }

  a:hover .curly {
    color: $green;
  }
}

nav {
  @extend .box;
  margin-bottom: 40px;
  padding: 7px 0;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 0 20px;

      a, a:visited {
        color: $peach;
        text-decoration: none;
      }
      a:hover {
        color: $green;
      }
    }
    &:after, &:before {
      color: $green;
      content: '♥';
    }
  }
}

article {
  @extend .box;
  padding-bottom: 100px;

  h2 {
    color: $green;
    font-size: 50px;
  }

  h3 {
    color: $green;
    text-align: center;
    font-weight: 700;
  }

  .post {
    text-align: left;
  }
}

form {
  input, textarea {
    display: block;
    width: 100%;
    font-family: $font-strict;
    font-size: 30px;
    padding: 5px;
    margin-bottom: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .submit-button {
    font-size: 40px;
  }

  label {
    display: block;
  }
  .radio {
    input {
      display: inline-block;
      width: auto;
    }
    label {
      display: inline;
      margin-right: 2em;
    }
  }

  input[type=submit] {
    padding: 5px 0;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: $green;
    border: 0;
    border-bottom: 2px solid darken($green, 20);
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px darken($green, 20);
    box-shadow: inset 0 -2px darken($green, 20);

    &:active {
      top: 1px;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
