@import "bourbon/bourbon";

$white: #fcfcf3;
$gray: #868D97;
$yellow: #F0E6A5;
$peach: #dd858a;
$green: #609357;

$font-hand: 'Amatic SC', cursive;
$font-curly: 'Dancing Script', cursive;
$font-strict: 'Roboto Slab', $georgia;


.color-transition {
  @include transition (color 0.3s linear);
}

.strict {
  font-family: $font-strict;
  font-weight: 300;
}

.curly {
  font-family: $font-curly;
}

.hand {
  font-weight: 400;
  font-family: $font-hand;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  @extend .hand;
  background-color: $white;
  font-size: 26px;
  text-align: center;
  color: $gray;
}

h1, h2, h3, h4, h5, h6 {
  @extend .hand;
  font-size: 100%;
}

h1 { margin-bottom: 1em; }
p {
  margin: 0 0 1em 0;
}


.box {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}

a {
  @extend .color-transition;
  &, &:visited {
    color: $peach;
  }
  &:hover {
    color: $green;
    text-decoration: none;
  }
}

header {
  margin: 70px 0 70px 0;

  a, a:visited, a:active {
    text-decoration: none;
    color: $gray;
  }

  a:hover .curly {
    color: $yellow;
  }

  h1 {
    margin: 0;
    font-size: 80px;
    line-height: 0.8em;
  }
  small {
    display: block;
    font-size: 50%;
  }
  .curly {
    display: block;
    color: $green;
    @extend .color-transition;
  }
}


nav {
  @extend .box;
  margin-bottom: 40px;
  padding: 7px 0;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 0 20px;

      a, a:visited {
        color: $gray;
        text-decoration: none;
      }
      a:hover, a.current {
        color: $peach;
      }
    }
    &:after, &:before {
      color: transparentize($peach, 0.8);
      content: '♥ ♥';
      @media screen and (max-width: 780px) {
          display: none;
      }
    }
  }
}

article {
  @extend .box;
  @extend .strict;
  color: darken($gray, 10%);

  p {
    font-size: 18px;
    line-height: 1.6em;
  }

  h2 {
    color: $green;
    font-size: 2em;
    margin-bottom: 0.4em;
  }

  h3 {
    font-size: 1.5em;
    color: $green;
    text-align: center;
  }

  img {
    padding: 15px;
    background: #fff;
    border: 1px solid $yellow ;
    max-width: 100%;
    @include box-sizing(border-box);
    margin: 10px auto;
    display: block;
    border-radius: 3px;
  }

  .rsvp-response {
    display: none;
    text-align: center;
  }

  &.about-us {
    img {
      max-width: 80%;
    }
  }

  &.people {
    img {
      max-width: 40%;
    }

    h3:nth-child(1){
      color: $peach;
    }

    div#brudpar {
      text-align: center;

      img {
        margin: 10px 20px;
        display: inline-block;
      }
    }
  }

  .post {
    text-align: left;
  }
}

form {
  input, textarea {
    @extend .strict;
    display: block;
    width: 100%;
    font-size: 30px;
    padding: 5px;
    margin-bottom: 1.5em;
    @include box-sizing(border-box);
  }

  .submit-button {
    font-size: 40px;
  }

  label {
    @extend .hand;
    display: block;
  }
  .radio {
    input {
      display: inline-block;
      width: auto;
    }
    label {
      display: inline;
      margin-right: 2em;
    }
  }

  input[type=submit] {
    @extend .hand;
    padding: 5px 0;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: $green;
    border: 0;
    border-bottom: 2px solid darken($green, 20);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 -2px darken($green, 20);

    &:active {
      top: 1px;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

#map {
  img {
    border: none;
    padding: 0;
    background: none;
    max-width: none;
  }
  height: 400px;
  margin-bottom: 1em;
}

footer {
  text-align: center;
  img {
    width: 50px;
    margin-bottom: 40px;
    margin-top: 30px;
  }
}
