---
layout: post
---
  {{ content }}

  <form action="http://getsimpleform.com/messages?form_api_token={{ site.simpleform_api_key }}" method="post">
      <input type='hidden' name='redirect_to' value='http://bröllop.evaochjonas.se/tack.html' />

      <label for="name">Namn</label>
      <input type='text' id="name" name='name' />

      <label for="rsvp">Kommer delta på bröllopet?</label>
      <div class="radio">
          <label>
              <input type="radio" id="rsvp" name="rsvp" value="yes" checked>
              Yes asså
          </label>
          <label>
              <input type="radio" name="rsvp" value="no">
              Nope
          </label>
      </div>

      <label for="other">Allergier/Matpreferenser samt övrig info</label>
      <textarea id="other" name='other'></textarea>

      <input type='submit' value='Skicka' class="submit-button"/>
  </form>
