---
layout: post
---
  {{ content }}

  <form action="http://getsimpleform.com/messages?form_api_token={{ site.simpleform_api_key }}" method="post">
      <input type='hidden' name='redirect_to' value='http://wedding.dev/tack.html' />

      <label for="name">Namn</label>
      <input disabled type='text' id="name" name='name' />

      <label for="rsvp">Kommer delta på bröllopet?</label>
      <div class="radio">
          <label>
              <input disabled type="radio" id="rsvp" name="rsvp" value="yes" checked>
              Yes asså
          </label>
          <label>
              <input disabled type="radio" name="rsvp" value="no">
              Nope
          </label>
      </div>

      <label for="other">Allergier/Matpreferenser samt övrig info</label>
      <textarea disabled id="other" name='other'></textarea>

      <input disabled type='submit' value='Skicka' class="submit-button"/>
  </form>
